---
import Button from '~/components/Button.astro';
import ProjectCard from '../ProjectCard.astro';

const projects = await Astro.glob('~/content/what-we-do/*.md');
---

<div class="flex flex-col gap-y-8">
	<div class="grid grid-cols lg:grid-cols-2 gap-6 px-8">
		{
			projects.map((p) => {
				const { logo, name, link, download } = p.frontmatter;
				return (
						<ProjectCard logo={logo} title={name} url={link} download={download}}>
							<div set:html={p.compiledContent()} />
						</ProjectCard>
				);
			})
		}
	</div>
	<div class="text-center">
		<Button href="/software" text="Load more..." />
	</div>
</div>
