---
import Button from 'A/NewButton.astro';
import SoftwareCard from 'M/SoftwareCard.astro';

const projects = await Astro.glob('~/content/homepage/projects/*.md');
const uri = (u) => {
	try {
		return new URL(u, 'https://dyne.org');
	} catch (e) {
		return undefined;
	}
};
---

<div class="flex flex-col gap-y-8">
	<div class="grid grid-cols lg:grid-cols-2 gap-6 px-8">
		{
			projects.map((p) => {
				const { logo, name, link, download } = p.frontmatter;

				return (
					<SoftwareCard picture={uri(logo)} title={name} href={uri(link)} download={uri(download)}>
						<div set:html={p.compiledContent()} />
					</SoftwareCard>
				);
			})
		}
	</div>
	<div class="text-center">
		<Button href="/software">Learn more…</Button>
	</div>
</div>
