---
import Layout from '~/layouts/Layout.astro';
import links from '../../content/social/linktree.json';
import quicklinks from '../../content/social/quicklinks.json';
import Button from '~/components/Button.astro';
---

<Layout
	content={{
		title: 'Linktree',
		description: "Contact Hackers at Dyne.org<br/>Dive into our network of connections and resources",
	}}
>
	<div class="py-8 md:py-20 justify-start items-start gap-2.5 inline-flex">
		<div class="text-saccent text-4xl font-semibold font-['Syne'] leading-10">Dive in</div>
	</div>
	<div class="grid md:grid-cols-3 gap-8">
		{quicklinks.map((ql) => <Button text={ql.cta} href={ql.link} cls="no-underline" />)}
	</div>
	<div class="grid grid-cols-1">
		{
			links.map((l) => (
				<div class="py-20">
					<div class="w-full h-40 flex-col justify-start items-start gap-2 inline-flex">
						<div class="self-stretch pt-2 pb-2.5 justify-start items-start gap-2.5 inline-flex">
							<div class="text-saccent text-4xl font-semibold font-['Syne'] leading-10">{l.group_name}</div>
						</div>
						<div class="self-stretch h-5 pb-2.5 justify-start items-center gap-2.5 inline-flex w-full">
							<hr class="w-full border-1 border-saccent" />
						</div>
						<div class="self-stretch pt-1 pb-6 justify-start items-start gap-2.5 inline-flex">
							<div class="grow shrink basis-0 text-saccent text-xl font-normal font-prose leading-7">
								{l.description}
							</div>
						</div>
					</div>

					<div class="w-full p-14 bg-white bg-opacity-50 rounded-3xl shadow border border-slate-500">
						<div class="grid md:grid-cols-3 gap-12">
							{l.links.map((link) => (
								<div>
									<div class="w-72 text-saccent text-4xl font-medium font-['Syne'] leading-10">{link.name}</div>
									<div class="w-72 text-saccent text-xl font-normal leading-7 mb-6 mt-2">{link.tagline}</div>
									<Button text={link.cta || 'Join'} href={link.link} cls="no-underline" inverted={!link.main} />
								</div>
							))}
						</div>
					</div>
				</div>
			))
		}
	</div>
</Layout>
