---
import Button from '~/components/Button.astro';
import Layout from '~/layouts/HomepageLayout.astro';
import { Tabs } from 'astro-tabs';

const meta = { title: 'Dyne.org :: Donations' };

const wallets = [
	{
		name: 'bitcoin',
		address: 'bc1qz9wz2f9swcefra2tfrhk4fx49evqsv03m9nx4l',
	},
	{ name: 'ethereum', address: '0x9b8aF04912c462b39bB4f26FeA22E7a70e3b8677' },
	{
		name: 'monero',
		href: 'monero://49GZLW2J65c9tNDFEjv6gVVVHFhQYwfzmZMQu4tSeYFbPXxD61nWvGU6cSkCBEyixFErrmSPxWFdN6djuQX8nXBiBS3hqWE?tx_message=donation%20to%20dyne.org',
		address: '49GZLW2J65c9tNDFEjv6gVVVHFhQYwfzmZMQu4tSeYFbPXxD61nWvGU6cSkCBEyixFErrmSPxWFdN6djuQX8nXBiBS3hqWE',
	},
	// { ltc: 'ltc1qspwm0zgexgc57udx5449pa3rwsdpj3jcp8cmdl' },
	// { etc: '0xCd914718eEb90FEF028d957d691E15aaa98f9fc3' },
	// { bch: 'bitcoincash:qzntsmfkth6drm2a42gj39snkemhtyax65n4esp8m0' },
	// { dash: 'Xfx6BCCffkDzjTefwpBkRiC5kXS8sNsdJw' },
	// { doge: 'DJ1ujhCsaGGTKKennQQUhwJZY7QWd9BBda' },
	// { nmc: 'NC53CzNRZ7C1F8UYXqEXSorj367sZ2WQ3k' },
	// { zec: 't1ZThp1gXGYNB93tj66Fa5LnYtxnR6ASKpG' },
];
const amounts = [10, 50, 100, 500, 1000, 10000];
---

<style is:global>
	.tab {
		justify-content: space-between;
		display: flex;
	}

	.tabs nav {
		justify-content: space-between;
	}

	.tab-selector:checked ~ .tab .button {
		background-color: var(--accent-color);
		border-color: var(--accent-color);
		color: white;
	}

	.panel {
		margin-top: 1rem;
	}
</style>

<Layout meta={meta}>
	<div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-20 text-center lg:text-start">
		<div class="space-y-10 px-6">
			<h1 class="px-2 text-4xl">
				Help make an impact by <em>supporting</em> our work
			</h1>
			<p class="text-lg">
				Year after year, Dyne.org produces free, safe and easy to use technologies that are used by millions of users
				worldwide to inspire, communicate, share and create.
			</p>
			<p class="text-lg">
				Our work is strictly non-profit and not commercial. We finance our activities through public funding and
				voluntary donations.
			</p>
		</div>

		<div class="space-y-10 lg:col-span-2">
			<Tabs>
				<Fragment slot="tab-1">
					<Button cls="text-lg text-black bg-[#FFEEDD] border-2 border-black" text="Donate money" id="money" />
				</Fragment>
				<Fragment slot="tab-2">
					<Button cls="text-lg text-black bg-[#FFEEDD] border-2 border-black" text="Donate crypto" id="crypto" />
				</Fragment>

				<Fragment slot="panel-1">
					<div class="bg-accent rounded-3xl grid grid-cols-3 gap-6 py-10 justify-items-center">
						{
							amounts.map((amount) => (
								<Button color="primary" text={`${amount}€`} href={`https://www.paypal.me/dyneorg/${amount}EUR`} />
							))
						}
					</div>
				</Fragment>

				<Fragment slot="panel-2">
					<div
						id="donate-crypto"
						class="bg-sustainability rounded-3xl grid grid-cols-1 lg:grid-cols-2 gap-6 py-10 justify-items-center"
					>
						{
							wallets.map((w) => {
								return (
									<div class="flex flex-col">
										<Button id={w.name} text={`${w.name} wallet`} cls="mb-6" />
										<div id={`${w.name}-address`} class="text-sustainability text-xs w-72 break-words">
											{w.address} <br />
											✔︎ Successfully copied to clipboard
										</div>
									</div>
								);
							})
						}
					</div>
				</Fragment>
			</Tabs>
		</div>
	</div>
</Layout>

<script is:inline define:vars={{ wallets }}>
	for (const w of wallets) {
		attachEvent(`#${w.name}`, 'click', (e) => {
			if (typeof window !== 'undefined' && typeof window.navigator !== 'undefined') {
				window.navigator.clipboard.writeText(w.address).then(() => {
					document.querySelector(`#${w.name}-address`).classList.add('text-[#FFFFFF]');
				});
			}
		});
	}
</script>
