---
import Button from '~/components/Button.astro';
import Layout from '~/layouts/HomepageLayout.astro';
import Link from '~/components/Link.astro';
import { Tabs } from 'astro-tabs';
// Icons
import Opencollective from '~/components/icons/donations/opencollective.astro';
import Patreon from '~/components/icons/donations/patreon.astro';
import Github from '~/components/icons/donations/github.astro';
import SponsorLink from '~/components/SponsorLink.astro';
import Bitcoin from '~/components/icons/donations/bitcoin.astro';
import Monero from '~/components/icons/donations/monero.astro';
import Ethereum from '~/components/icons/donations/ethereum.astro';

const meta = { title: 'Dyne.org :: Donations' };

const wallets = [
	{
		name: 'bitcoin',
		address: 'bc1qz9wz2f9swcefra2tfrhk4fx49evqsv03m9nx4l',
		icon: Bitcoin,
	},
	{ name: 'ethereum', address: '0x9b8aF04912c462b39bB4f26FeA22E7a70e3b8677', icon: Ethereum },
	{
		name: 'monero',
		href: 'monero://49GZLW2J65c9tNDFEjv6gVVVHFhQYwfzmZMQu4tSeYFbPXxD61nWvGU6cSkCBEyixFErrmSPxWFdN6djuQX8nXBiBS3hqWE?tx_message=donation%20to%20dyne.org',
		address: '49GZLW2J65c9tNDFEjv6gVVVHFhQYwfzmZMQu4tSeYFbPXxD61nWvGU6cSkCBEyixFErrmSPxWFdN6djuQX8nXBiBS3hqWE',
		icon: Monero,
	},
	// { ltc: 'ltc1qspwm0zgexgc57udx5449pa3rwsdpj3jcp8cmdl' },
	// { etc: '0xCd914718eEb90FEF028d957d691E15aaa98f9fc3' },
	// { bch: 'bitcoincash:qzntsmfkth6drm2a42gj39snkemhtyax65n4esp8m0' },
	// { dash: 'Xfx6BCCffkDzjTefwpBkRiC5kXS8sNsdJw' },
	// { doge: 'DJ1ujhCsaGGTKKennQQUhwJZY7QWd9BBda' },
	// { nmc: 'NC53CzNRZ7C1F8UYXqEXSorj367sZ2WQ3k' },
	// { zec: 't1ZThp1gXGYNB93tj66Fa5LnYtxnR6ASKpG' },
];

const tiers = [
  { 
		amount: '2$)',
		text: 'Let the dyne Hack, Get yourself an art pack!',
		url: 'https://socials.dyne.org/kofi',
	},
	{
		amount: '3-70$',
		text: 'Look good in the hood, buy the swag.',
		url: 'https://dyne.org/shop',
	},
	{
		amount: '70$',
		text: 'Get a shoutout on our website and social-media, mentioning your user with a link to your website.',
		url: 'https://news.dyne.org/#/portal/support',
	},
	{
		amount: '350$',
		text: 'We will dedicate 1 hour to advise you about a technical topic of your choice.',
		url: 'mailto:info+support@dyne.org',
	},
	{
		amount: '600$',
		text: 'We will run a 2h on-line workshop for you and your team',
		url: 'mailto:info+support@dyne.org',
	},
	{
		amount: '3.000$',
		text: 'Jaromil will give a professional keynote talk at your conference',
		url: 'mailto:info+support@dyne.org',
	},
];
---

<style is:global>
	.tabs nav {
		margin-top: -12px;
		justify-content: space-between;
		padding-bottom: 12px;
	}

	.tabs nav > * + * {
		margin-left: 8px;
	}

	.tab {
		border-radius: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px;
	}

	.tab-wrapper {
		flex-grow: 1;
	}

	.tab-selector:checked ~ .tab {
		color: white;
		background: black;
	}

	.tab-selector:not(:checked) ~ .tab {
		color: black;
		background: transparent;
		border: 1px solid black;
	}
</style>

<Layout meta={meta}>
	<div class="pt-8 md:pt-16 md:px-8 text-lg mx-auto w-fit md:grid md:grid-cols-2 md:gap-8 max-w-4xl">
		<!-- Column 1 -->
		<div class="space-y-8 max-w-lg md:sticky md:top-8 self-start">
			<div class="space-y-6 px-6 text-center">
				<h1 class="text-3xl lg:text-4xl">
					Help making an impact by <em class="bg-primary">supporting</em> our work
				</h1>
				<p>
					Year after year, Dyne.org produces free, safe and easy to use technologies that are used by millions of users
					worldwide to inspire, communicate, share and create.
				</p>
			</div>

			<div class="p-6 bg-black text-white rounded-3xl">
				<h1 class="text-3xl underline decoration-primary decoration-4">What can you give?</h1>
				<ul class="list-disc px-6 pt-2">
					<li>Time and good energy in the community forums</li>
					<li>Dedicated trainings</li>
					<li>Code contribution</li>
					<li>Special mentions</li>
				</ul>
				
			</div>
			<div class="space-y-6 px-6 text-center">
			<h2 class="text-3xl lg:text-4xl">Another currency is money!</h2>
			<p class="pt-2">
				We accept both <Link href="#onetime">one-time donations</Link> and <Link
					href="#recurring"
				>
					recurring donations
				</Link>
			</p>
			</div>
		</div>

		<!-- Column 2 -->
		<div class="space-y-8 max-w-lg pt-8 md:pt-0">
			<div id="recurring" class="p-6 bg-primary rounded-3xl space-y-4">
				<h1 class="text-xl font-bold">Recurring donations on:</h1>
				<div class="space-y-2">
					<SponsorLink href="https://news.dyne.org/#/portal/signup" text="Dyne Newsletter"><Opencollective size={36} /></SponsorLink>
					<SponsorLink href="https://ko-fi.com/dyneorg" text="ko-fi"><Opencollective size={36} /></SponsorLink>
					<SponsorLink href="https://github.com/sponsors/dyne" text="GitHub"><Github size={36} /></SponsorLink>
					<SponsorLink href="https://patreon.com/dyneorg" text="Patreon"><Patreon size={36} /></SponsorLink>
<!--					<SponsorLink href="https://www.patreon.com/dyneorg" text="Patreon"><Patreon size={36} /></SponsorLink> -->
				</div>
				<p class="leading-6"><strong>If it fits it sits:</strong> Donations give you benefits, including but not limited to no less then</p>
				<ul class="list-disc px-6 pt-2">
					<li>Blessings of the giant spaghetti monster.</li>
					<li>Sacrifice of any given bad computer in sustainable manners.</li>
					<li>Invitations to a special servers with elevated privs, good music and root beer, where the resident Dynes also hang out.</li>
					<li>Mentions of you on the Dyne.org home page.</li>
				</ul>

			</div>

			<div id="onetime" class="p-6 bg-primary rounded-3xl space-y-4">
				<h1 class="text-xl font-bold">One time support.</h1>
				<p class="leading-6">Not ready to commit on the long term, yet? </p>
				<ul class="text-base space-y-4">
					{
						tiers.map((tier) => (
							<li class="flex flex-row flex-nowrap items-center bg-primary-60 rounded-2xl overflow-hidden">
								<a href="{tier.url}" text="GitHub">
									<div class="w-20 p-2 shrink-0 bg-primary-40 flex items-center justify-center self-stretch">
										<p class="text-center">{tier.amount}</p>
									</div>
									<p class="p-3">{tier.text}</p>
								</a>
							</li>
						))
					}
				</ul>

				<div class="space-y-10 lg:col-span-2">
					<Tabs>
						<Fragment slot="tab-2">
							<p>Use money</p>
							<!-- <Button cls="text-lg text-black bg-[#FFEEDD] border-2 border-black" text="Donate money" id="money" /> -->
						</Fragment>
						<Fragment slot="tab-1">
							<p>Use crypto</p>
							<!-- <Button cls="text-lg text-black bg-[#FFEEDD] border-2 border-black" text="Donate crypto" id="crypto" /> -->
						</Fragment>

						<Fragment slot="panel-2">
							<div class="space-y-4">
								<p class="leading-6">(Donations via PayPal)</p>
								<div class="grid grid-cols-2 gap-2">
									{
										tiers.map((tier) => (
											<a
												href={`https://www.paypal.me/dyneorg/${tier.amount}USD`}
												class="block text-center text-2xl bg-sustainability text-white rounded-3xl p-4"
											>
												{tier.amount}
											</a>
										))
									}
								</div>
							</div>
						</Fragment>

						<Fragment slot="panel-1">
							<div class="space-y-4">
								<p class="leading-6">Contact us with the transaction ID to redeem the benefits.</p>
								<div id="donate-crypto" class="flex flex-col items-stretch space-y-2">
									{
										wallets.map((w) => (
											<button id={w.name} class="bg-sustainability p-4 rounded-3xl ">
												<p class="font-bold text-2xl text-white">{`${w.name} wallet`}</p>
												<p id={`${w.name}-address`} class="text-xs w-72 break-words hidden text-gray-400">
													{w.address} <br />
													✔︎ Successfully copied to clipboard
												</p>
											</button>
										))
									}
								</div>
							</div>
						</Fragment>
					</Tabs>
				</div>
			</div>
		</div>
	</div>
</Layout>

<script is:inline define:vars={{ wallets }}>
	for (const w of wallets) {
		attachEvent(`#${w.name}`, 'click', (e) => {
			if (typeof window !== 'undefined' && typeof window.navigator !== 'undefined') {
				window.navigator.clipboard.writeText(w.address).then(() => {
					document.querySelector(`#${w.name}-address`).classList.remove('hidden');
					// document.querySelector(`#${w.name}-address`).classList.add('text-[#FFFFFF]');
				});
			}
		});
	}
</script>
