---
import * as copy from '~/content/awards/index.md';
import Button from '~/components/Button.astro';
const { description, CTA, href, CTA2, href2 } = copy.frontmatter;
---

<div class="grid grid-cols-1 md:grid-cols-3 place-items-center space-y-8 p-20">
	<div
		class="col-span-2 flex flex-col text-center items-center md:text-left md:pr-24 md:items-start space-y-12 md:space-y-8 tracking-tight"
	>
		<div class="text-4xl md:text-5xl lg:text-6xl text-saccent" set:html={copy.compiledContent()} />
		<p class="max-w-2 text-2xl text-inter text-saccent">{description}</p>
		<div class="flex flex-wrap space-y-4 lg:space-y-0 space-x-0 lg:space-x-4">
			<Button href={href} text={CTA} />
			<Button href={href2} text={CTA2} cls="!text-saccent bg-transparent border border-2 !border-saccent" />
		</div>
	</div>
	<div class="bg-[url('/images/illustrations/coppa.png')] bg-contain bg-no-repeat h-full w-full hidden md:block"></div>
</div>
