---
const { href, text, inverted, cls = '', id = '', onclick = () => {} } = Astro.props;
let { color = 'accent' } = Astro.props;
let textColor = 'white';
let bg = color;

if (inverted) {
	bg = 'transparent';
	color = 'accent';
	textColor = 'saccent';
}
---

<a
	id={id}
	href={href}
	onclick={onclick}
	class={`text-${textColor} cursor-pointer bg-${bg} border-2 border-accent hover:bg-saccent hover:text-white hover:border-saccent py-2 px-4 rounded-full w-fit text-2xl whitespace-nowrap ${cls}`}
>
	{text}
</a>
