---
const { href, text, color = 'accent', cls = '', id = '', onclick = () => {} } = Astro.props;
---

<a
	id={id}
	href={href}
	onclick={onclick}
	class={`text-white cursor-pointer bg-${color} py-2 px-4 rounded-full w-fit text-3xl ${cls}`}>
	{text}
</a>
