---
const { href, text, color = 'accent', cls = '', id = '', onclick=() => {} } = Astro.props;
---

<a
	id={id}
	href={href}
    onclick={onclick}
	class={`cursor-pointer button bg-${color} py-2 px-4 rounded-full w-fit text-taccent text-3xl ${cls}`}
	>{text}
</a>
