---
import * as copy from '../content/hero/index.md';
import Button from '~/components/Button.astro';
import Caffuda from './Caffuda.astro';
---

<div class="flex flex-col lg:flex-row items-center space-y-20 lg:space-y-0 px-10 py-36">
	<div class="flex flex-col w-full space-y-8 tracking-tight">
		<div class="text-6xl" set:html={copy.compiledContent()}></div>
		<p class="max-w-3xl text-3xl font-inter">{copy.frontmatter.welcome}</p>
		<div class="flex space-x-5">
			<Button href={copy.frontmatter.url} text={copy.frontmatter.CTA} />
			<Button href={copy.frontmatter.url1} text={copy.frontmatter.CTA1} cls="!text-saccent bg-transparent border border-2 border-saccent"/>
			<Button href={copy.frontmatter.url2} text={copy.frontmatter.CTA2} cls="!text-saccent bg-transparent border border-2 border-saccent"/>
		</div>
	</div>
	<Caffuda />
</div>
