---
import Button from './Button.astro';

const { logo, title, url, tagline, download } = Astro.props;
---

<div
	class="transition duration-500 ease-in-out transform shadow-2xl border-4 border-baccent hover:border-accent hover:shadow-none hover:bg-white hover:bg-opacity-50 rounded-[40px] p-7"
>
	<div class="w-full p-4 h-full">
		<div>
			<div class="flex flex-row items-center gap-4">
				<a href={url} class="text-4xl font-bold font-sans no-underline">{title}</a>

				{
					logo && (
						<div
	class="bg-origin-content bg-contain bg-center bg-no-repeat w-16 h-16 rounded-full border-[0.5px] border-accent"
	style={`background-image: url(${logo})`}
/>
					)
				}
			</div>
			<div class="py-1">
				<span class="font-medium">{tagline}</span>
			</div>

			<p class="text-gray-800 text-sm font-medium mb-3 text-clip overflow-hidden max-h-20">
				<slot />
			</p>
			<div class="flex flex-row flex-wrap space-x-3 mt-4 no-underline">
				<Button href={url} text="Learn more..." inverted={true} cls="text-sm no-underline" />
				{download && <Button href={download} text="Download" cls={`text-sm no-underline`} />}
			</div>
		</div>
	</div>
</div>
