---
import SocialIcon from '~/components/SocialIcon.astro';
import socials from '../content/social/index.json';

interface Props {
	size?: number;
	cls?: string;
}

const { size = 24, cls = 'fill-black' } = Astro.props;
const half = Math.ceil(socials.length / 2);
---

<div class="hidden md:visible md:flex space-x-4">
	{socials.map((social) => <SocialIcon name={social.name} href={social.href} cls={cls} size={size} />)}
</div>

<div class="visible md:hidden space-y-4">
	<div class="flex justify-end space-x-4">
		{socials.slice(0, half).map((social) => <SocialIcon name={social.name} href={social.href} cls={cls} size={size} />)}
	</div>
	<div class="flex justify-end space-x-4">
		{
			socials
				.slice(half, socials.length)
				.map((social) => <SocialIcon name={social.name} href={social.href} cls={cls} size={size} />)
		}
	</div>
</div>
