---
import * as copy from '~/content/stats/index.md';
import Button from '~/components/Button.astro';
import ButtonsGroup from './ButtonsGroup.astro';
const { description, CTA, href, title, secondaryCTA, secondaryhref, feature1, feature1Value, feature2, feature2Value } =
  copy.frontmatter;
// const stats = await Astro.glob('~/content/stats/stat_*.md');
---

<div class="grid grid-cols-1 md:grid-cols-3 items-center p-8">
  <div class="flex flex-col col-span-2 space-y-12 md:space-y-8 tracking-tight text-left">
    <h1 class="text-4xl md:text-5xl lg:text-6xl !text-saccent text-semibold">{title}</h1>
    <p class="max-w-2 text-2xl text-inter !text-saccent">{description}</p>
    <ButtonsGroup>
      <Button href={secondaryhref} text={secondaryCTA} inverted={true} />
      <Button href={href} text={CTA} />
    </ButtonsGroup>
  </div>
  <div
    class="bg-[url('/images/illustrations/manincula.png')] opacity-40 bg-contain bg-no-repeat h-full w-full hidden md:block"
  >
  </div>
</div>
