---
import Heading from 'A/Heading.astro';
import Button from 'A/NewButton.astro';
import Card from 'M/Card.astro';

interface Props {
	title: string;
	picture?: URL;
	date?: Date;
	color?: Color;
	href?: URL;
	download?: URL;
}

const { picture, title, date, color, href, download } = Astro.props;
---

<Card color={color}>
	{
		picture && (
			<div class="bg-contain bg-center rounded-full w-32 h-32" style={`background-image: url(${picture.href})`} />
		)
	}
	<div class="flex flex-col gap-4 flex-1 w-full">
		<Heading size="medium">{title}</Heading>
		<slot />
		{
			date && (
				<p class="text-base">
					<span class="font-highlight">Last update: </span> {date.toDateString()}
				</p>
			)
		}
		<div class="flex gap-4 flex-col md:flex-row">
			{
				download && (
					<Button size="small" color="black" icon={true} href={download.href}>
						Download
					</Button>
				)
			}
			{
				href && (
					<Button slot="CTA2" size="small" color="black" outline={true} href={href.href}>
						Learn more...
					</Button>
				)
			}
		</div>
	</div>
</Card>
