---
import ProjectCard from '~/components/ProjectCard.astro';
import Layout from '~/layouts/Layout.astro';
const softwares = await Astro.glob('~/pages/software/*.md');
const github_fetch = await fetch('https://api.github.com/orgs/dyne/repos?per_page=100');
const github = await github_fetch.json();
---

<Layout
	content={{
		title: 'Software',
		description: "Dive into the code ocean<br/>Dyne's collective toolbox for hackers, makers, and dreamers",
	}}
>
	<div class="grid md:grid-cols-2 gap-8">
		{
			softwares.map((software) => (
				<ProjectCard url={software.url} title={software.frontmatter.title}>
					{software.frontmatter.description}
				</ProjectCard>
			))
		}
		{
			github.map((software) => (
				<div>
					<ProjectCard
						url={software.homepage ? software.homepage : software.html_url}
						title={software.name}
						download={software.html_url}
					>
						{software.description}
					</ProjectCard>
				</div>
			))
		}
	</div>
</Layout>
